<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../custom/metisMenu/dist/metisMenu.min.css">
  <link rel="stylesheet" href="../custom/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../custom/datatables-responsive/css/dataTables.responsive.css">
  <link rel="stylesheet" href="../custom/datatables-responsive/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" href="../custom/dist/css/sb-admin-2.css">
  <link rel="stylesheet" href="../custom/font-awesome-4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../custom/css/custom.css">
  <script src="../custom/js/angular.min.js"></script>
  <script src="../jquery/jquery-2.1.4.min.js"></script>
  <script src="../custom/jquery/dist/jquery.min.js"></script>
  <script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  <script src="../custom/metisMenu/dist/metisMenu.min.js"></script>
  <script src="../custom/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="../custom/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
  <script src="../custom/datatables-responsive/js/dataTables.responsive.js"></script>
  <script src="../custom/dist/js/sb-admin-2.js"></script>
  <script src="../custom/js/controller.js"></script>
  <script>
    $(document).ready(function() {
        $('#vehicleRegTable').DataTable({
            "pagingType": "simple"
        });
		$('#vehicleOwnTable').DataTable({
            "pagingType": "simple"
        });
    });
  </script>
  <!-- for popup form -->
  <script>
	$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').focus()
	})
  </script>
</head>
<body>

<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top a-navbar-header" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle a-navbar-button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><span class="a-navbar-header-text">Ridesharing 2.0 Admin Panel</span></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse a-navbar-header">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="ride.html"><i class="fa fa-car"></i> Ride Info</a>
                        </li>
                        <li>
                            <a href="users.html"><i class="glyphicon glyphicon-user"></i> Users</a>
                        </li>
						<li>
                            <a href="vehicle.html"><i class="glyphicon glyphicon-credit-card"></i> Vehicle</a>
                        </li>
						<li>
                            <a href="uploadExcel.html"><i class="fa fa-cloud-upload"></i> Upload Data</a>
                        </li>
                        <li>
                            <a href="../index.html"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <br>
                    <div class="col-lg-12">
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <div class="row" ng-app="vehicleApp">
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-credit-card"></i> Vehicle
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper" ng-controller="vehicleRegCtrl">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="vehicleRegTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>License Number</th>
                                                <th>Color</th>
                                                <th>Maker</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="register in registers">
                                                <td>
													<div ng-hide="editingData[register.license_number]">{{ register.license_number }}</div>
													<div ng-show="editingData[register.license_number]"><input type="text" style="width:100%;" class="form-control" ng-model="register.license_number" /></div>
												</td>
                                                <td>
													<div ng-hide="editingData[register.license_number]">{{ register.color }}</div>
													<div ng-show="editingData[register.license_number]"><input type="text" style="width:100%;" class="form-control" ng-model="register.color" /></div>
												</td>
                                                <td>
													<div ng-hide="editingData[register.license_number]">{{ register.maker }}</div>
													<div ng-show="editingData[register.license_number]"><input type="text" style="width:100%;" class="form-control" ng-model="register.maker" /></div>
												</td>
                                                <td>
													<a href="#" ng-hide="editingData[register.license_number]" ng-click="modify(register)"><i class="fa fa-edit fa-lg"></i>&nbsp;Edit</a>
													<a href="#"ng-show="editingData[register.license_number]" ng-click="update(register)"><i class="fa fa-upload fa-lg"></i>&nbsp;Update</a>
													&nbsp;<a href="#"><i class="fa fa-remove fa-lg"></i>&nbsp;Remove</a>
												</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-default btn-circle btn-lg"  data-toggle="modal" data-target="#addVehicle"><i class="fa fa-plus"></i></button>
                                    </div>
										<!-- Modal for add vehicle -->
										<div class="modal fade" id="addVehicle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
											<div class="modal-content">
											  <div class="modal-header">										
												<h4 class="modal-title" id="myModalLabel">Add Vehicle</h4>
											  </div>
											  <div class="modal-body">
													<form>
														<div class="form-group row">
															<label for="inputLicenseNumber" class="col-sm-4 text-right form-control-label">License Number</label>
															<div class="input col-sm-8">
																<input type="text" class="form-control" name="inputLicenseNumber" id="inputLicenseNumber" placeholder="Enter License Number" required="required">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputColor" class="col-sm-4 text-right  form-control-label">Color</label>
															<div class="input col-sm-8">
																<input type="text" class="form-control" name="inputColor" id="inputColor" placeholder="Enter Vehicle Color" required="required">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputMaker" class="col-sm-4 text-right  form-control-label">Maker</label>
															<div class="input col-sm-8">
																<input type="text" class="form-control" name="inputMaker" id="inputMakern" placeholder="Enter Maker" required="required">
															</div>
														</div>														
													</form>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Add Vehicle</button>
											  </div>
											</div>
										  </div>
										</div>
									</div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                

                <!-- /.row -->
				
				
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-credit-card"></i> Ownership
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper" ng-controller="vehicleOwnCtrl">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="vehicleOwnTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>User ID</th>
                                                <th>License Number</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="own in owns">
                                                <td>
													<div ng-hide="editingData[own.id]">{{ own.id }}</div>
													<div ng-show="editingData[own.id]"><input type="text" style="width:100%;" class="form-control" ng-model="own.id" /></div>
												</td>
                                                <td>
													<div ng-hide="editingData[own.id]">{{ own.license_number }}</div>
													<div ng-show="editingData[own.id]"><input type="text" style="width:100%;" class="form-control" ng-model="own.license_number" /></div>
												</td>
                                                <td>
												<a href="#" ng-hide="editingData[own.id]" ng-click="modify(own)"><i class="fa fa-edit fa-lg"></i>&nbsp;Edit</a>
												<a href="#"ng-show="editingData[own.id]" ng-click="update(own)"><i class="fa fa-upload fa-lg"></i>&nbsp;Update</a>
												
												&nbsp;<a href="#"><i class="fa fa-remove fa-lg"></i>&nbsp;Remove</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-default btn-circle btn-lg"  data-toggle="modal" data-target="#addOwn"><i class="fa fa-plus"></i></button>
                                    </div>
										<!-- Modal for add ownership -->
										<div class="modal fade" id="addOwn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
											<div class="modal-content">
											  <div class="modal-header">										
												<h4 class="modal-title" id="myModalLabel">Add Ownership</h4>
											  </div>
											  <div class="modal-body">
													<form>
														<div class="form-group row">
															<label for="inputId" class="col-sm-4 text-right  form-control-label">ID</label>
															<div class="input col-sm-8">
																<input type="text" class="form-control" name="inputId" id="inputId" placeholder="Enter Driver's User ID" required="required">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputLicenseNumber" class="col-sm-4 text-right form-control-label">License Number</label>
															<div class="input col-sm-8">
																<input type="text" class="form-control" name="inputLicenseNumber" id="inputLicenseNumber" placeholder="Enter License Number" required="required">
															</div>
														</div>													
													</form>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Add Ownership</button>
											  </div>
											</div>
										  </div>
										</div>
									</div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                </div>

                <!-- /.row -->
				
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
</html>
